VITE_FIREBASE_API_KEY=AIzaSyBBYnbgfxds6H2rQbkejJBghm_23DgKW_k
VITE_FIREBASE_AUTH_DOMAIN=pizza-express-fdad7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pizza-express-fdad7
VITE_FIREBASE_STORAGE_BUCKET=pizza-express-fdad7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=343178713223
VITE_FIREBASE_APP_ID=1:343178713223:web:b8bf082f1f94a2bce08022
VITE_FIREBASE_MEASUREMENT_ID=G-6L9FG6PSR4
